body {
    color: black;
    background-color: skyblue;
    padding-left: 3em;
    font-family: 'BhuTuka Expanded One', cursive;

}
h1 {
    color: black;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 250%;
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
}

h4{
    color:gray;
    font-family: Times New Roman;
    text-align: justify;
    background-color: white;
    width: fit-content;
}

h5{
    color: black;
    text-align: justify;
    font-size: larger;
}

h5.fam{
    color: black;
    font-family: Times New Roman;
    font-size: xx-large;
    background-color: aqua;
    width: fit-content;
}
h3{
    color: black;
    background-color: aqua;
    width: fit-content;
    font-size: medium;
}
p{
    font-family: 'PT Sans Narrow';
    font-size: large;
    text-align: left;
}


#foto{
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;

}

ul {
    list-style-type: none;
    text-align: center
  }
  
li {
    background-color: #F6E3CA;
    border: #D7C8B6 2px solid;
    display: inline;
    margin-right: 10px;
  }
  
a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
}
  
dt{
    font-family: sans-serif;
    font-size: larger;
}

dd{
    font-family: serif;
    font-size: large;
}
a:hover {
    background-color: white;
    color: #D7C8B6;
}

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
        
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
ul.navbar li {
    background: rgb(12, 224, 214);
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black 
}
ul.navbar a { 
    text-decoration: none 
}
a:link { 
    color: blue 
}
a:visited { 
    color: purple
}

/* una clase */
.center {
    text-align: center;
    color: red;
}

.recuadro {
	border:1px solid black;
	width:49.5%;
	display:inline-block;
	height:49.5%;
	overflow:hidden;
}

.fotos{
    border: 1px solid black;
    width: fit-content;
    display: inline-block;
    height: fit-content;
}
#uno{
	background-color:blue;
	}
#dos{
	background-color:green;
	}
#tres{
	background-color:yellow;
	}
#cuatro{
	background-color:red;
	}

.letra{
    font-size: medium;
    font-family: 'Lucida Sans Regular';
    color: black;
    background-color: royalblue;
    width: fit-content;
}
.letra2{
    font-size: medium;
    font-family: Verdana;
    color: black;
    width: fit-content;
}